<!DOCTYPE html>
<html>
<head>
    <title>Hours</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="container">
    <h2>שעות עבור {{ computer }} בתאריך {{ date }}</h2>
    <a href="{{ url_for('dates', computer=computer) }}">חזור לתאריכים</a>
    <ul>
        {% for hour in hours %}
        <li><a href="{{ url_for('view_log', computer=computer, date=date, hour=hour) }}">{{ hour }}:00</a></li>
        {% endfor %}
    </ul>
</div>
</body>
</html>
